Вот список команд которые я знаю.
И примеры их использования.
1.Посмотреть продукты в категории
/want Книги
2.Добавить свой продукт в категорию
/add Книги - Зов Ктулху
3.Выбрать понравившейся продукт
/choose 1
